.home-wrapper {
  background-image: url("https://img.freepik.com/free-photo/saas-concept-collage_23-2149399281.jpg?t=st=1709237615~exp=1709241215~hmac=9be675b4751b7979365326edd0b75293d9bc389450c44726656c129de369198c&w=1380");
}

.heroButton {
  background-color: green;
}

.text {
  font-size: clamp(1.5rem, 2rem + 1vw, 3rem);
}
