input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.background {
  width: 10em;
  height: 10em;
  position: absolute;
  right: 0;
  bottom: 0;
}
